---

---

<div
    class="self-stretch flex flex-row items-start justify-start flex-wrap content-start gap-[0.625rem] text-[1rem] text-bg-white-0"
>
    <div
    class="w-[21.75rem] rounded-xl bg-foundation-darkest-blue-r500 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem]"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem]"
    >
        <span>Darkest Blue</span>
        <span class="font-medium"> [Darker]</span>
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #111827
    </div>
    </div>
    <div
    class="w-[21.75rem] rounded-xl bg-foundation-darkest-blue-r400 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem]"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem]"
    >
        <span>Darkest Blue</span>
        <span class="font-medium"> [Dark]</span>
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #080024
    </div>
    </div>
    <div
    class="w-[21.75rem] rounded-xl bg-foundation-darkest-blue-r300 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem]"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem]"
    >
        <span>Darkest Blue</span>
        <span class="font-medium"> [Base]</span>
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #1E293B
    </div>
    </div>
    <div
    class="w-[21.75rem] rounded-xl bg-foundation-darkest-blue-r200 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem] text-foundation-darkest-blue-r50"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem]"
    >
        <span>Darkest Blue</span>
        <span class="font-medium"> [Light]</span>
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #342B56
    </div>
    </div>
    <div
    class="w-[21.75rem] rounded-xl bg-foundation-darkest-blue-r100 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem] text-foundation-darkest-blue-r50"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem]"
    >
        <span>Darkest Blue</span>
        <span class="font-medium"> [Lighter]</span>
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #716B89
    </div>
    </div>
    <div
    class="w-[21.75rem] rounded-xl bg-foundation-darkest-blue-r75 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem] text-foundation-darkest-blue-r50"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem]"
    >
        <span>Darkest Blue</span>
        <span class="font-medium"> [X-Lighter]</span>
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #9B96AB
    </div>
    </div>
    <div
    class="w-[21.75rem] rounded-xl bg-foundation-darkest-blue-r50 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem] text-foundation-darkest-blue-r300"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem]"
    >
        <span>Darkest Blue</span>
        <span class="font-medium"> [Fade]</span>
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #E7E6EB
    </div>
    </div>
</div>