<div
    class="self-stretch flex flex-row items-start justify-start flex-wrap content-start gap-[0.625rem] text-[1rem] text-bg-white-0"
>
    <div
    class="w-[21.75rem] rounded-xl bg-foundation-green-g500 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem]"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem] font-medium"
    >
        Green [Darker]
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #1c7f53
    </div>
    </div>
    <div
    class="w-[21.75rem] rounded-xl bg-foundation-green-g400 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem]"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem] font-medium"
    >
        Green [Dark]
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #20925f
    </div>
    </div>
    <div
    class="w-[21.75rem] rounded-xl bg-foundation-green-g300 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem]"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem] font-medium"
    >
        Green [Base]
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #2ed188
    </div>
    </div>
    <div
    class="w-[21.75rem] rounded-xl bg-foundation-green-g200 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem] text-whitesmoke"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem] font-medium"
    >
        Green [Light]
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #52d99c
    </div>
    </div>
    <div
    class="w-[21.75rem] rounded-xl bg-foundation-green-g100 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem] text-whitesmoke"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem] font-medium"
    >
        Green [Lighter]
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #86e4ba
    </div>
    </div>
    <div
    class="w-[21.75rem] rounded-xl bg-foundation-green-g75 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem] text-darkslategray"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem] font-medium"
    >
        Green [X-Lighter]
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #a9ecce
    </div>
    </div>
    <div
    class="w-[21.75rem] rounded-xl bg-foundation-green-g50 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem] text-darkslategray"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem] font-medium"
    >
        Green [Fade]
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #eafaf3
    </div>
    </div>
</div>