---

---
<div
    class="self-stretch flex flex-row items-start justify-start flex-wrap content-start gap-[0.625rem] text-[1rem] text-bg-white-0"
>
    <div
    class="w-[21.75rem] rounded-xl bg-neutral-900 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem]"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem] font-medium"
    >
        Neutral [900]
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #0A0D14
    </div>
    </div>
    <div
    class="w-[21.75rem] rounded-xl bg-neutral-800 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem]"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem] font-medium"
    >
        Neutral [800]
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #161922
    </div>
    </div>
    <div
    class="w-[21.75rem] rounded-xl bg-neutral-700 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem]"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem] font-medium"
    >
        Neutral [700]
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #20232D
    </div>
    </div>
    <div
    class="w-[21.75rem] rounded-xl bg-neutral-600 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem]"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem] font-medium"
    >
        Neutral [600]
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #31353F
    </div>
    </div>
    <div
    class="w-[21.75rem] rounded-xl bg-text-sub-500 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem]"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem] font-medium"
    >
        Neutral [500]
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #525866
    </div>
    </div>
    <div
    class="w-[21.75rem] rounded-xl bg-neutral-400 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem]"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem] font-medium"
    >
        Neutral [400]
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #868C98
    </div>
    </div>
    <div
    class="w-[21.75rem] rounded-xl bg-neutral-300 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem] text-neutral-900"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem] font-medium"
    >
        Neutral [300]
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #CDD0D5
    </div>
    </div>
    <div
    class="w-[21.75rem] rounded-xl bg-stroke-soft-200 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem] text-neutral-900"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem] font-medium"
    >
        Neutral [200]
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #E2E4E9
    </div>
    </div>
    <div
    class="w-[21.75rem] rounded-xl bg-neutral-100 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem] text-neutral-900"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem] font-medium"
    >
        Neutral [100]
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #F6F8FA
    </div>
    </div>
    <div
    class="w-[21.75rem] rounded-xl bg-bg-white-0 border-stroke-soft-200 border-[1px] border-solid box-border h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] gap-[0.25rem] text-neutral-900"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem] font-medium"
    >
        Neutral [0]
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #FFFFFF
    </div>
    </div>
</div>