---

---

<div
    class="self-stretch flex flex-row items-start justify-start flex-wrap content-start gap-[0.625rem] text-[1rem] text-bg-white-0"
>
    <div
    class="w-[21.75rem] rounded-xl bg-foundation-red-r500 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem]"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem] font-medium"
    >
        Red [Darker]
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #701111
    </div>
    </div>
    <div
    class="w-[21.75rem] rounded-xl bg-foundation-red-r400 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem]"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem] font-medium"
    >
        Red [Dark]
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #801414
    </div>
    </div>
    <div
    class="w-[21.75rem] rounded-xl bg-foundation-red-r300 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem]"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem] font-medium"
    >
        Red [Base]
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #FB0007
    </div>
    </div>
    <div
    class="w-[21.75rem] rounded-xl bg-foundation-red-r200 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem] text-foundation-red-r50"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem] font-medium"
    >
        Red [Light]
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #C34343
    </div>
    </div>
    <div
    class="w-[21.75rem] rounded-xl bg-foundation-red-r100 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem] text-foundation-red-r50"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem] font-medium"
    >
        Red [Lighter]
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #D57B7B
    </div>
    </div>
    <div
    class="w-[21.75rem] rounded-xl bg-foundation-red-r75 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem] text-foundation-red-r500"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem] font-medium"
    >
        Red [X-Lighter]
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #E1A2A2
    </div>
    </div>
    <div
    class="w-[21.75rem] rounded-xl bg-foundation-red-r50 h-[11.25rem] overflow-hidden shrink-0 flex flex-col items-center justify-end p-[1.25rem] box-border gap-[0.25rem] text-foundation-red-r500"
    >
    <div
        class="self-stretch relative tracking-[-0.01em] leading-[1.5rem] font-medium"
    >
        Red [Fade]
    </div>
    <div
        class="self-stretch relative text-[0.875rem] tracking-[-0.01em] leading-[1.25rem] opacity-[0.72]"
    >
        #F8E8E8
    </div>
    </div>
</div>