---
import { ChevronLeft, ChevronRight } from 'lucide-astro';
const { styles, type, socialLogo, disabled, img } = Astro.props;
---
<div class:list=`flex justify-between ${type==="social" ? "p-3 max-w-[200px]" : "p-2 max-w-[128px]"} ${disabled==="true" && " text-neutral-300 bg-foundation-grey-weak"} rounded-xl items-center ${styles}`>
    {
        type==="normal" && (
            <ChevronLeft />
                <button>
                    Button
                </button>
            <ChevronRight />
        )
    }

    {
        type==="social" && (
            <>
                <img src={img} alt="" srcset="" class="h-6 w-8">
                <button>
                    Sign up with brand
                </button>
            </>
        )
    }
    
</div>