---
import BlackBtn from "./buttons-comp/BlackBtn.astro";
import BlueBtn from "./buttons-comp/BlueBtn.astro";
import RedBtn from "./buttons-comp/RedBtn.astro";
---
<section>
    <BlueBtn />
    <BlackBtn />
    <RedBtn />
    <BlueBtn />
    <BlackBtn />
    <RedBtn />
    <BlueBtn />
    <BlackBtn />
    <RedBtn />
</section>