---
import Link from "./Link.astro";
---
<div class="flex justify-between gap-5 mb-14">
    <div class="flex flex-col gap-5">
        <div class="flex gap-5">
            <Link styles="text-neutral-500" disabled="false" />
            <Link styles="text-neutral-500 underline underline-offset-[6px]" disabled="false" />
            <Link styles="text-neutral-700 underline underline-offset-[6px] " disabled="false" />
            <Link disabled="true" />
        </div>
        <div class="flex gap-5">
            <Link styles="text-neutral-900" disabled="false" />
            <Link styles="text-neutral-900 underline underline-offset-[6px]" disabled="false" />
            <Link styles="text-neutral-900 underline underline-offset-[6px] " disabled="false" />
            <Link disabled="true" />
        </div>
        <div class="flex gap-5">
            <Link styles="text-foundation-blue-b300" disabled="false" />
            <Link styles="text-foundation-blue-b500 underline underline-offset-[6px]" disabled="false" />
            <Link styles="text-foundation-blue-b300 underline underline-offset-[6px] " disabled="false" />
            <Link disabled="true" />
        </div>
        <div class="flex gap-5">
            <Link styles="text-foundation-red-r300" disabled="false" />
            <Link styles="text-foundation-red-r500 underline underline-offset-[6px]" disabled="false" />
            <Link styles="text-foundation-red-r300 underline underline-offset-[6px] " disabled="false" />
            <Link disabled="true" />
        </div>
    </div>
    <div class="flex flex-col gap-5">
        <div class="flex gap-5">
            <Link styles="text-neutral-500 underline underline-offset-[6px]" disabled="false" />
            <Link styles="text-neutral-500 underline underline-offset-[6px]" disabled="false" />
            <Link styles="text-neutral-700 underline underline-offset-[6px] " disabled="false" />
            <Link disabled="true" />
        </div>
        <div class="flex gap-5">
            <Link styles="text-neutral-900 underline underline-offset-[6px]" disabled="false" />
            <Link styles="text-neutral-900 underline underline-offset-[6px]" disabled="false" />
            <Link styles="text-neutral-900 underline underline-offset-[6px] " disabled="false" />
            <Link disabled="true" />
        </div>
        <div class="flex gap-5">
            <Link styles="text-foundation-blue-b300 underline underline-offset-[6px]" disabled="false" />
            <Link styles="text-foundation-blue-b500 underline underline-offset-[6px]" disabled="false" />
            <Link styles="text-foundation-blue-b300 underline underline-offset-[6px] " disabled="false" />
            <Link disabled="true" />
        </div>
        <div class="flex gap-5">
            <Link styles="text-foundation-red-r300 underline underline-offset-[6px]" disabled="false" />
            <Link styles="text-foundation-red-r500 underline underline-offset-[6px]" disabled="false" />
            <Link styles="text-foundation-red-r300 underline underline-offset-[6px] " disabled="false" />
            <Link disabled="true" />
        </div>
    </div>
</div>