---
import Layout from "../layouts/Layout.astro";
import Button from "./Button.astro";


---
<Layout title="">
    <section class="flex flex-col gap-10">
        <div class="flex gap-8">
            <div class="flex flex-col gap-3">
                <div class="flex gap-5">
                    <Button type="social" styles="bg-black text-white" img="/apple.svg" />
                    <button class="bg-black text-white p-3 rounded-xl"><img src="/apple.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
                <div class="flex gap-5">
                    <Button type="social" styles="text-white bg-neutral-700" img="/apple.svg" />
                    <button class="bg-neutral-700 text-white p-3 rounded-xl"><img src="/apple.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
                <div class="flex gap-5">
                    <Button type="social" styles="bg-black text-white outline outline-foundation-red-r50" img="/apple.svg" />
                    <button class="bg-black text-white p-3 rounded-xl outline outline-foundation-red-r50"><img src="/apple.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
            </div>
            <div class="flex flex-col gap-3">
                <div class="flex gap-5">
                    <Button type="social" styles="border border-neutral-200 text-black" img="/apple-black.svg" />
                    <button class="text-black border border-neutral-200 p-3 rounded-xl"><img src="/apple-black.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
                <div class="flex gap-5">
                    <Button type="social" styles="text-black bg-foundation-grey-weak" img="/apple-black.svg" />
                    <button class="text-black p-3 rounded-xl bg-foundation-grey-weak"><img src="/apple-black.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
                <div class="flex gap-5">
                    <Button type="social" styles="border border-neutral-700 text-black outline outline-neutral-200" img="/apple-black.svg" />
                    <button class="border border-neutral-700 text-white p-3 rounded-xl outline outline-neutral-200"><img src="/apple-black.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
            </div>
        </div>
        <div class="flex gap-8">
            <div class="flex flex-col gap-3">
                <div class="flex gap-5">
                    <Button type="social" styles="bg-black text-white" img="/x-l.svg" />
                    <button class="bg-black text-white p-3 rounded-xl"><img src="/x-l.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
                <div class="flex gap-5">
                    <Button type="social" styles="text-white bg-neutral-700" img="/x-l.svg" />
                    <button class="bg-neutral-700 text-white p-3 rounded-xl"><img src="/x-l.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
                <div class="flex gap-5">
                    <Button type="social" styles="bg-black text-white outline outline-foundation-red-r50" img="/x-l.svg" />
                    <button class="bg-black text-white p-3 rounded-xl outline outline-foundation-red-r50"><img src="/x-l.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
            </div>
            <div class="flex flex-col gap-3">
                <div class="flex gap-5">
                    <Button type="social" styles="border border-neutral-200 text-black" img="/x.svg" />
                    <button class="text-black border border-neutral-200 p-3 rounded-xl"><img src="/x.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
                <div class="flex gap-5">
                    <Button type="social" styles="text-black bg-foundation-grey-weak" img="/x.svg" />
                    <button class="text-black p-3 rounded-xl bg-foundation-grey-weak"><img src="/x.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
                <div class="flex gap-5">
                    <Button type="social" styles="border border-neutral-700 text-black outline outline-neutral-200" img="/x.svg" />
                    <button class="border border-neutral-700 text-white p-3 rounded-xl outline outline-neutral-200"><img src="/x.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
            </div>
        </div>
        <div class="flex gap-8">
            <div class="flex flex-col gap-3">
                <div class="flex gap-5">
                    <Button type="social" styles="bg-branding-google text-white" img="/google.svg" />
                    <button class="bg-branding-google text-white p-3 rounded-xl"><img src="/google.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
                <div class="flex gap-5">
                    <Button type="social" styles="text-white bg-foundation-red-r200" img="/google.svg" />
                    <button class="bg-foundation-red-r200 text-white p-3 rounded-xl"><img src="/google.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
                <div class="flex gap-5">
                    <Button type="social" styles="bg-branding-google text-white outline outline-foundation-red-r50" img="/google.svg" />
                    <button class="bg-branding-google text-white p-3 rounded-xl outline outline-foundation-red-r50"><img src="/google.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
            </div>
            <div class="flex flex-col gap-3">
                <div class="flex gap-5">
                    <Button type="social" styles="border border-neutral-200 text-black" img="/google-light.svg" />
                    <button class="text-black border border-neutral-200 p-3 rounded-xl"><img src="/google-light.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
                <div class="flex gap-5">
                    <Button type="social" styles="text-black bg-foundation-grey-weak" img="/google-light.svg" />
                    <button class="text-black p-3 rounded-xl bg-foundation-grey-weak"><img src="/google-light.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
                <div class="flex gap-5">
                    <Button type="social" styles="border border-neutral-700 text-black outline outline-foundation-red-r50" img="/google-light.svg" />
                    <button class="border border-neutral-700 text-white p-3 rounded-xl outline outline-foundation-red-r50"><img src="/google-light.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
            </div>
        </div>
        <div class="flex gap-8">
            <div class="flex flex-col gap-3">
                <div class="flex gap-5">
                    <Button type="social" styles="bg-branding-facebook text-white" img="/facebook.svg" />
                    <button class="bg-branding-facebook text-white p-3 rounded-xl"><img src="/facebook.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
                <div class="flex gap-5">
                    <Button type="social" styles="text-white bg-blue-600" img="/facebook.svg" />
                    <button class="bg-blue-600 text-white p-3 rounded-xl"><img src="/facebook.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
                <div class="flex gap-5">
                    <Button type="social" styles="bg-branding-facebook text-white outline outline-foundation-red-r50" img="/facebook.svg" />
                    <button class="bg-branding-facebook text-white p-3 rounded-xl outline outline-foundation-red-r50"><img src="/facebook.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
            </div>
            <div class="flex flex-col gap-3">
                <div class="flex gap-5">
                    <Button type="social" styles="border border-neutral-200 text-black" img="/facebook-light.svg" />
                    <button class="text-black border border-neutral-200 p-3 rounded-xl"><img src="/facebook-light.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
                <div class="flex gap-5">
                    <Button type="social" styles="text-black bg-foundation-grey-weak" img="/facebook-light.svg" />
                    <button class="text-black p-3 rounded-xl bg-foundation-grey-weak"><img src="/facebook-light.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
                <div class="flex gap-5">
                    <Button type="social" styles="border border-neutral-700 text-black outline outline-neutral-200" img="/facebook-light.svg" />
                    <button class="border border-neutral-700 text-white p-3 rounded-xl outline outline-neutral-200"><img src="/facebook-light.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
            </div>
        </div>
        <div class="flex gap-8">
            <div class="flex flex-col gap-3">
                <div class="flex gap-5">
                    <Button type="social" styles="bg-[rgb(0,119,181)] text-white" img="/in.svg" />
                    <button class="bg-[rgb(0,119,181)] text-white p-3 rounded-xl"><img src="/in.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
                <div class="flex gap-5">
                    <Button type="social" styles="text-white bg-[rgba(0,96,145)]" img="/in.svg" />
                    <button class="bg-[rgba(0,96,145)] text-white p-3 rounded-xl"><img src="/in.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
                <div class="flex gap-5">
                    <Button type="social" styles="bg-[rgb(0,119,181)] text-white outline outline-foundation-red-r50" img="/in.svg" />
                    <button class="bg-[rgb(0,119,181)] text-white p-3 rounded-xl outline outline-foundation-red-r50"><img src="/in.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
            </div>
            <div class="flex flex-col gap-3">
                <div class="flex gap-5">
                    <Button type="social" styles="border border-neutral-200 text-black" img="/in-light.svg" />
                    <button class="text-black border border-neutral-200 p-3 rounded-xl"><img src="/in-light.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
                <div class="flex gap-5">
                    <Button type="social" styles="text-black bg-foundation-grey-weak" img="/in-light.svg" />
                    <button class="text-black p-3 rounded-xl bg-foundation-grey-weak"><img src="/in-light.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
                <div class="flex gap-5">
                    <Button type="social" styles="border border-neutral-700 text-black outline outline-neutral-200" img="/in-light.svg" />
                    <button class="border border-neutral-700 text-white p-3 rounded-xl outline outline-neutral-200"><img src="/in-light.svg" alt="" srcset="" class="h-6 w-8" /></button>
                </div>
            </div>
        </div>
    </section>
</Layout>