---
import { Copy } from "lucide-astro";
import Button from "../components/Button.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import ButtonSection from "../components/ButtonSection.astro";
import Link from "../components/Link.astro";
import LinkSection from "../components/LinkSection.astro";
import SocialBtn from "../components/SocialBtn.astro";
import Cancel from "../components/buttons-comp/Cancel.astro";


---
<Layout title="Button-style-guide">
  <div
      class="relative w-full overflow-hidden flex flex-col items-start justify-start text-left text-[0.875rem] text-neutral-500 font-subheading-2x-small"
  >
      <Header />
      <div class="flex flex-col gap-6 py-[0.75rem] px-[6.25rem] box-border text-[1rem]">
        <h1 class="text-black text-[54px] font-bold">Buttons</h1>
        <p>The Button base component comprises the major traits within the table below.</p>
        <div class="grid w-full grid-cols-4 max-md:grid-cols-2 max-sm:grid-cols-1">
          <button class="p-4 border border-[#E2E4E9] flex gap-3 items-center outline-none">
            <img src="/icon.svg" alt="" srcset="" class="h-8 aspect-square">
            Buttons with Styles, States, etc.
          </button>
          <button class="p-4 border border-[#E2E4E9] flex gap-3 items-center outline-none">
            <img src="/icon.svg" alt="" srcset="" class="h-8 aspect-square">
            Link Buttons
          </button>
          <button class="p-4 border border-[#E2E4E9] flex gap-3 items-center outline-none">
            <img src="/icon.svg" alt="" srcset="" class="h-8 aspect-square">
            Social Buttons
          </button>
          <button class="p-4 border border-[#E2E4E9] flex gap-3 items-center outline-none">
            <img src="/icon.svg" alt="" srcset="" class="h-8 aspect-square">
            Compact Buttons
          </button>
        </div>
      </div>
      <div class="w-[123.75rem] bg-foundation-grey-weak flex flex-row items-center justify-start py-[0.75rem] px-[6.25rem] box-border text-[1rem]">
        <div class="flex-1 relative tracking-[0.06em] leading-[1.5rem] uppercase font-medium">
           components
        </div>
      </div>
      <div class="flex flex-col gap-6 mb-14 py-[0.75rem] px-[6.25rem] box-border text-[1rem]">
        <h3 class="text-black text-5xl font-bold">Buttons</h3>
        <p>Fundamental interactive elements that guide user actions within digital interfaces.</p>
        <ButtonSection />
      </div>
      <div class="w-[123.75rem] bg-foundation-grey-weak flex flex-row items-center justify-start py-[0.75rem] px-[6.25rem] box-border text-[1rem]">
        <div class="flex-1 relative tracking-[0.06em] leading-[1.5rem] uppercase font-medium">
           components
        </div>
      </div>
      <div class="flex flex-col gap-6 mb-14 py-[0.75rem] px-[6.25rem] box-border text-[1rem]">
        <h3 class="text-black text-5xl font-bold">Link Buttons</h3>
        <p>Buttons that seamlessly integrate with text content.</p>
        <LinkSection />
        <LinkSection />
      </div>
      <div class="flex flex-col gap-6 mb-14 py-[0.75rem] px-[6.25rem] box-border text-[1rem]">
        <h3 class="text-black text-5xl font-bold">Social Buttons</h3>
        <p>Simplify user login and registration processes.</p>
        <SocialBtn />
      </div>
      <div class="flex flex-col gap-6 mb-14 py-[0.75rem] px-[6.25rem] box-border text-[1rem]">
        <h3 class="text-black text-5xl font-bold">Compact Buttons</h3>
        <p>Simplify user login and registration processes.</p>
        <section class="mb-14">
          <div class="flex gap-10 mb-5">
            <Cancel styles="border border-neutral-300 rounded-lg"/>
            <Cancel />
            <Cancel />
            <Cancel styles="opacity-0"/>
            <Cancel styles="border border-neutral-300 rounded-full"/>
            <Cancel />
            <Cancel />
          </div>
          <div class="flex gap-10 mb-5">
            <Cancel styles="bg-foundation-grey-weak text-neutral-700 rounded-lg"/>
            <Cancel styles="bg-foundation-grey-weak text-neutral-700 rounded-lg"/>
            <Cancel styles="bg-foundation-grey-weak text-neutral-700 rounded-lg"/>
            <Cancel styles="opacity-0"/>
            <Cancel styles="bg-foundation-grey-weak text-neutral-700 rounded-full"/>
            <Cancel styles="bg-foundation-grey-weak text-neutral-700 rounded-full"/>
            <Cancel styles="bg-foundation-grey-weak text-neutral-700 rounded-full"/>
          </div>
          <div class="flex gap-10 mb-5">
            <Cancel styles="bg-black text-white rounded-lg"/>
            <Cancel styles="bg-black text-white rounded-lg"/>
            <Cancel styles="bg-black text-white rounded-lg"/>
            <Cancel styles="opacity-0"/>
            <Cancel styles="bg-black text-white rounded-full"/>
            <Cancel styles="bg-black text-white rounded-full"/>
            <Cancel styles="bg-black text-white rounded-full"/>
          </div>
          <div class="flex gap-10 mb-5">
            <Cancel styles="bg-foundation-grey-weak text-[#CDD0D5] rounded-lg"/>
            <Cancel styles="bg-foundation-grey-weak text-[#CDD0D5] rounded-lg"/>
            <Cancel styles="bg-foundation-grey-weak text-[#CDD0D5] rounded-lg"/>
            <Cancel styles="text-[#CDD0D5] rounded-lg"/>
            <Cancel styles="bg-foundation-grey-weak text-[#CDD0D5] rounded-full"/>
            <Cancel styles="bg-foundation-grey-weak text-[#CDD0D5] rounded-full"/>
            <Cancel styles="bg-foundation-grey-weak text-[#CDD0D5] rounded-full"/>
          </div>  
        </section>
        <section class="mb-14">
          <div class="flex gap-10 mb-5">
            <Cancel styles="border border-neutral-300 rounded-lg"/>
            <Cancel />
            <Cancel />
            <Cancel styles="opacity-0"/>
            <Cancel styles="border border-neutral-300 rounded-full"/>
            <Cancel />
            <Cancel />
          </div>
          <div class="flex gap-10 mb-5">
            <Cancel styles="bg-foundation-grey-weak text-neutral-700 rounded-lg"/>
            <Cancel styles="bg-foundation-grey-weak text-neutral-700 rounded-lg"/>
            <Cancel styles="bg-foundation-grey-weak text-neutral-700 rounded-lg"/>
            <Cancel styles="opacity-0"/>
            <Cancel styles="bg-foundation-grey-weak text-neutral-700 rounded-full"/>
            <Cancel styles="bg-foundation-grey-weak text-neutral-700 rounded-full"/>
            <Cancel styles="bg-foundation-grey-weak text-neutral-700 rounded-full"/>
          </div>
          <div class="flex gap-10 mb-5">
            <Cancel styles="bg-black text-white rounded-lg"/>
            <Cancel styles="bg-black text-white rounded-lg"/>
            <Cancel styles="bg-black text-white rounded-lg"/>
            <Cancel styles="opacity-0"/>
            <Cancel styles="bg-black text-white rounded-full"/>
            <Cancel styles="bg-black text-white rounded-full"/>
            <Cancel styles="bg-black text-white rounded-full"/>
          </div>
          <div class="flex gap-10 mb-5">
            <Cancel styles="bg-foundation-grey-weak text-[#CDD0D5] rounded-lg"/>
            <Cancel styles="bg-foundation-grey-weak text-[#CDD0D5] rounded-lg"/>
            <Cancel styles="bg-foundation-grey-weak text-[#CDD0D5] rounded-lg"/>
            <Cancel styles="text-[#CDD0D5] rounded-lg"/>
            <Cancel styles="bg-foundation-grey-weak text-[#CDD0D5] rounded-full"/>
            <Cancel styles="bg-foundation-grey-weak text-[#CDD0D5] rounded-full"/>
            <Cancel styles="bg-foundation-grey-weak text-[#CDD0D5] rounded-full"/>
          </div>  
        </section>
        
      </div>
        
      </div>
  </div>
</Layout>