---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---
<Layout title="icons-style-guide">
  <Header />
  <div class="p-12">
    <h2 class="text-neutral-900 font-semibold text-[56px]">Icons</h2>

    <div class="w-[880px] rounded-[24px] shadow-[0_4px_48px_0_rgba(0,0,0,0.02)] bg-white py-[94px] px-[108px] mt-[96px]">
      <p class="border-b border-[#E6EAEE] pb-2 text-[#292D32] text-[30px] font-semibold">Money</p>
      <div class="mt-9">
        <img src="/assests/money.svg" alt="money" />
      </div>
    </div>

    <div class="w-[880px] rounded-[24px] shadow-[0_4px_48px_0_rgba(0,0,0,0.02)] bg-white py-[94px] px-[108px] mt-2">
      <p class="border-b border-[#E6EAEE] pb-2 text-[#292D32] text-[30px] font-semibold">Location</p>
      <div class="mt-9">
        <img src="/assests/location.svg" alt="location" />
      </div>
    </div>

    <div class="w-[880px] rounded-[24px] shadow-[0_4px_48px_0_rgba(0,0,0,0.02)] bg-white py-[94px] px-[108px] mt-2">
      <p class="border-b border-[#E6EAEE] pb-2 text-[#292D32] text-[30px] font-semibold">Arrow</p>
      <div class="mt-9">
        <img src="/assests/arrow.svg" alt="arrow" />
      </div>
    </div>

    <div class="w-[880px] rounded-[24px] shadow-[0_4px_48px_0_rgba(0,0,0,0.02)] bg-white py-[94px] px-[108px] mt-2">
      <p class="border-b border-[#E6EAEE] pb-2 text-[#292D32] text-[30px] font-semibold">Files</p>
      <div class="mt-9">
        <img src="/assests/files.svg" alt="files" />
      </div>
    </div>

        <div class="w-[880px] rounded-[24px] shadow-[0_4px_48px_0_rgba(0,0,0,0.02)] bg-white py-[94px] px-[108px] mt-2">
      <p class="border-b border-[#E6EAEE] pb-2 text-[#292D32] text-[30px] font-semibold">Security</p>
      <div class="mt-9">
        <img src="/assests/security.svg" alt="security" />
      </div>
    </div>

    <div class="w-[880px] rounded-[24px] shadow-[0_4px_48px_0_rgba(0,0,0,0.02)] bg-white py-[94px] px-[108px] mt-2">
      <p class="border-b border-[#E6EAEE] pb-2 text-[#292D32] text-[30px] font-semibold">Video, Audio, Image</p>
      <div class="mt-9">
        <img src="/assests/medias.svg" alt="medias" />
      </div>
    </div>

    <div class="w-[880px] rounded-[24px] shadow-[0_4px_48px_0_rgba(0,0,0,0.02)] bg-white py-[94px] px-[108px] mt-2">
      <p class="border-b border-[#E6EAEE] pb-2 text-[#292D32] text-[30px] font-semibold">Settings</p>
      <div class="mt-9">
        <img src="/assests/settings.svg" alt="settings" />
      </div>
    </div>

    <div class="w-[880px] rounded-[24px] shadow-[0_4px_48px_0_rgba(0,0,0,0.02)] bg-white py-[94px] px-[108px] mt-2">
      <p class="border-b border-[#E6EAEE] pb-2 text-[#292D32] text-[30px] font-semibold">Essential</p>
      <div class="mt-9">
        <img src="/assests/essential.svg" alt="essential" />
      </div>
    </div>

    <div class="w-[880px] rounded-[24px] shadow-[0_4px_48px_0_rgba(0,0,0,0.02)] bg-white py-[94px] px-[108px] mt-2">
      <p class="border-b border-[#E6EAEE] pb-2 text-[#292D32] text-[30px] font-semibold">Crypto Currency</p>
      <div class="mt-9">
        <img src="/assests/crypto.svg" alt="crypto" />
      </div>
    </div>

    <div class="w-[880px] rounded-[24px] shadow-[0_4px_48px_0_rgba(0,0,0,0.02)] bg-white py-[94px] px-[108px] mt-2">
      <p class="border-b border-[#E6EAEE] pb-2 text-[#292D32] text-[30px] font-semibold">Emails, Messages</p>
      <div class="mt-9">
        <img src="/assests/emails.svg" alt="emails" />
      </div>
    </div>

    <div class="w-[880px] rounded-[24px] shadow-[0_4px_48px_0_rgba(0,0,0,0.02)] bg-white py-[94px] px-[108px] mt-2">
      <p class="border-b border-[#E6EAEE] pb-2 text-[#292D32] text-[30px] font-semibold">Business</p>
      <div class="mt-9">
        <img src="/assests/business.svg" alt="business" />
      </div>
    </div>

    <div class="w-[880px] rounded-[24px] shadow-[0_4px_48px_0_rgba(0,0,0,0.02)] bg-white py-[94px] px-[108px] mt-2">
      <p class="border-b border-[#E6EAEE] pb-2 text-[#292D32] text-[30px] font-semibold">Time</p>
      <div class="mt-9">
        <img src="/assests/time.svg" alt="time" />
      </div>
    </div>

    <div class="w-[880px] rounded-[24px] shadow-[0_4px_48px_0_rgba(0,0,0,0.02)] bg-white py-[94px] px-[108px] mt-2">
      <p class="border-b border-[#E6EAEE] pb-2 text-[#292D32] text-[30px] font-semibold">Search</p>
      <div class="mt-9">
        <img src="/assests/search.svg" alt="search" />
      </div>
    </div>

    <div class="w-[880px] rounded-[24px] shadow-[0_4px_48px_0_rgba(0,0,0,0.02)] bg-white py-[94px] px-[108px] mt-2">
      <p class="border-b border-[#E6EAEE] pb-2 text-[#292D32] text-[30px] font-semibold">Content, Edit</p>
      <div class="mt-9">
        <img src="/assests/content.svg" alt="content" />
      </div>
    </div>

    <div class="w-[880px] rounded-[24px] shadow-[0_4px_48px_0_rgba(0,0,0,0.02)] bg-white py-[94px] px-[108px] mt-2">
      <p class="border-b border-[#E6EAEE] pb-2 text-[#292D32] text-[30px] font-semibold">Notification</p>
      <div class="mt-9">
        <img src="/assests/notification.svg" alt="notification" />
      </div>
    </div>
  </div>
</Layout>