---
import { Copy } from "lucide-astro";
import Button from "../Button.astro";
---
<div class="mb-14">
    <div class="grid grid-cols-4 gap-10 w-full mb-7">
      <div class="flex gap-5">
        <Button type="normal" styles=" bg-neutral-700 text-white"/>
        <button class="bg-neutral-700 text-white p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
      <div class="flex gap-3">
        <Button type="normal" styles="text-neutral-500"/>
        <button class=" text-neutral-500 p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
      <div class="flex gap-3">
        <Button type="normal" styles="text-neutral-500"/>
        <button class="text-neutral-500 p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
      <div class="flex gap-3">
        <Button type="normal" styles="bg-transparent text-neutral-500"/>
        <button class="bg-transparent text-neutral-500 p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
    </div>
    <div class="grid grid-cols-4 gap-10 w-full mb-7">
      <div class="flex gap-5">
        <Button type="normal" styles=" bg-neutral-700 text-white"/>
        <button class="bg-neutral-700 text-white p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
      <div class="flex gap-3">
        <Button type="normal" styles="text-neutral-900"/>
        <button class=" text-neutral-500 p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
      <div class="flex gap-3">
        <Button type="normal" styles="text-neutral-900"/>
        <button class="text-neutral-500 p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
      <div class="flex gap-3">
        <Button type="normal" styles="bg-transparent text-neutral-900"/>
        <button class="bg-transparent text-neutral-900 p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
    </div>
    <div class="grid grid-cols-4 gap-10 w-full mb-7">
      <div class="flex gap-5">
        <Button type="normal" styles=" bg-neutral-700 text-white"/>
        <button class="bg-neutral-700 text-white p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
      <div class="flex gap-3">
        <Button type="normal" styles="border border-neutral-900 text-neutral-900"/>
        <button class=" border border-neutral-900 text-neutral-900 p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
      <div class="flex gap-3">
        <Button type="normal" styles="border border-neutral-900 text-neutral-900"/>
        <button class="border border-neutral-900 text-neutral-900 p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
      <div class="flex gap-3">
        <Button type="normal" styles="border border-neutral-900 text-neutral-900"/>
        <button class="border border-neutral-900 text-neutral-900 p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
    </div>
    <div class="grid grid-cols-4 gap-10 w-full mb-7">
      <div class="flex gap-5">
        <Button type="normal" disabled="true"/>
        <button class="text-neutral-300 bg-foundation-grey-weak p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
      <div class="flex gap-3">
        <Button type="normal" disabled="true"/>
        <button class="text-neutral-300 bg-foundation-grey-weak p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
      <div class="flex gap-3">
        <Button type="normal" disabled="true"/>
        <button class="text-neutral-300 bg-foundation-grey-weak p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
      <div class="flex gap-3">
        <Button type="normal" disabled="true"/>
        <button class="text-neutral-300 bg-foundation-grey-weak p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
    </div>
</div>