---
import { Copy } from "lucide-astro";
import Button from "../Button.astro";
---

<div class="mb-14">
    <div class="grid grid-cols-4 gap-10 w-full mb-7">
      <div class="flex gap-5">
        <Button type="normal" styles="bg-foundation-blue-b300 text-white"/>
        <button class="bg-foundation-blue-b300 text-white p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
      <div class="flex gap-3">
        <Button type="normal" styles="border border-foundation-blue-b300 text-foundation-blue-b300"/>
        <button class="border border-foundation-blue-b300 text-foundation-blue-b300 p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
      <div class="flex gap-3">
        <Button type="normal" styles="bg-foundation-blue-b50 text-foundation-blue-b300"/>
        <button class="bg-foundation-blue-b50 text-foundation-blue-b300 p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
      <div class="flex gap-3">
        <Button type="normal" styles="bg-transparent text-foundation-blue-b300"/>
        <button class="bg-transparent text-foundation-blue-b300 p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
    </div>
    <div class="grid grid-cols-4 gap-10 w-full mb-7">
      <div class="flex gap-5">
        <Button type="normal" styles="bg-foundation-blue-b500 text-white"/>
        <button class="bg-foundation-blue-b500 text-white p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
      <div class="flex gap-3">
        <Button type="normal" styles="bg-foundation-blue-b50 text-foundation-blue-b300"/>
        <button class="bg-foundation-blue-b50 text-foundation-blue-b300 p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
      <div class="flex gap-3">
        <Button type="normal" styles="border border-foundation-blue-b300 text-foundation-blue-b300"/>
        <button class="border border-foundation-blue-b300 text-foundation-blue-b300 p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
      <div class="flex gap-3">
        <Button type="normal" styles="bg-foundation-blue-b50 text-foundation-blue-b300"/>
        <button class="bg-foundation-blue-b50 text-foundation-blue-b300 p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
    </div>
    <div class="grid grid-cols-4 gap-10 w-full mb-7">
      <div class="flex gap-5">
        <Button type="normal" styles="bg-foundation-blue-b300 text-white"/>
        <button class="bg-foundation-blue-b300 text-white p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
      <div class="flex gap-3">
        <Button type="normal" styles="border border-foundation-blue-b300 text-foundation-blue-b300"/>
        <button class="border border-foundation-blue-b300 text-foundation-blue-b300 p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
      <div class="flex gap-3">
        <Button type="normal" styles="border border-foundation-blue-b300 text-foundation-blue-b300"/>
        <button class="border border-foundation-blue-b300 text-foundation-blue-b300 p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
      <div class="flex gap-3">
        <Button type="normal" styles="border border-foundation-blue-b300 text-foundation-blue-b300"/>
        <button class="border border-foundation-blue-b300 text-foundation-blue-b300 p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
    </div>
    <div class="grid grid-cols-4 gap-10 w-full mb-7">
      <div class="flex gap-5">
        <Button type="normal" disabled="true"/>
        <button class="text-neutral-300 bg-foundation-grey-weak p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
      <div class="flex gap-3">
        <Button type="normal" disabled="true"/>
        <button class="text-neutral-300 bg-foundation-grey-weak p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
      <div class="flex gap-3">
        <Button type="normal" disabled="true"/>
        <button class="text-neutral-300 bg-foundation-grey-weak p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
      <div class="flex gap-3">
        <Button type="normal" disabled="true"/>
        <button class="text-neutral-300 bg-foundation-grey-weak p-3 rounded-xl -rotate-180"><Copy class="w-6 h-6" /></button>
      </div>
    </div>
</div>